*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fc6603;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
span{
    margin-left: 10px;
    background-color: #03fc5a;
}
button{
    margin-top: 120px;
    margin-left: -200px;
    font-size: 20px;
    background-color: #000000;
    color: #ffffff;
    border: 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: #e100ff;
}